@model IEnumerable<Uling_RestaurantManagementSystem.Models.Custom.TakeOutOrdersDataModel>
@using Uling_RestaurantManagementSystem.Utils.Functions

@{
    ViewBag.Title = "Take-Out Orders";

    Globals globals = new Globals();
}

<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    @Html.Partial("_SideBar")

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        @Html.Partial("_Nav")

        <!-- Page content-->
        <div class="container-fluid">
            <div class="row px-5 pt-5">
                <div class="col-sm-12">
                    <p class="text-secondary" style="font-size: 1.5rem">Take-out Orders</p>
                </div>
            </div>

            <!-- Navigation Tabs -->
            <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active"
                       id="pending-tab"
                       data-bs-toggle="tab"
                       href="#pending-reservations"
                       role="tab"
                       aria-controls="pending-reservations"
                       aria-selected="true">Pending Orders</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       id="accepted-tab"
                       data-bs-toggle="tab"
                       href="#accepted-reservations"
                       role="tab"
                       aria-controls="accepted-reservations"
                       aria-selected="false">Accepted Orders</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       id="ready-tab"
                       data-bs-toggle="tab"
                       href="#ready-reservations"
                       role="tab"
                       aria-controls="ready-reservations"
                       aria-selected="false">Ready Orders</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link"
                       id="cancelled-tab"
                       data-bs-toggle="tab"
                       href="#cancelled-reservations"
                       role="tab"
                       aria-controls="cancelled-reservations"
                       aria-selected="false">Cancelled Orders</a>
                </li>
            </ul>


            <!-- Tab Content -->
            <div class="tab-content" id="myTabContent">
                <!-- PENDING RESERVATIONS TAB -->
                <div class="tab-pane fade show active" id="pending-reservations" role="tabpanel" aria-labelledby="pending-tab">
                    <div class="row px-5">
                        <div class="col-sm-12">
                            <table class="table table-responsive table-light">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Contact No.</th>
                                        <th>Email</th>
                                        <th>Date Ordered</th>
                                        <th>Order Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && !Model.Any())
                                    {
                                        <tr>
                                            <td colspan="7" class="text-center text-secondary">-- No take-out orders available --</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var order in Model.Where(o => o.Order.order_status == "Pending"))
                                        {
                                            <tr>
                                                <td>@order.Order.customer_name</td>
                                                <td>@order.Order.contact_number</td>
                                                <td>@order.Order.email</td>
                                                <td>@order.Order.date_ordered.ToString("MMMM d, yyyy - h:mm tt")</td>
                                                @{
                                                    string status = order.Order.order_status;
                                                }
                                                <td><span class="badge rounded-pill @globals.GetTakeOutOrderBadgeClass(status)">@status</span></td>
                                                <td>
                                                    <a href="@Url.Action("ViewTakeOutOrderDetails", "ManagerTakeOutOrders", new { order_id = order.Order.order_id })" class="text-decoration-none text-theme-1">View</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- ACCEPTED RESERVATIONS TAB -->
                <div class="tab-pane fade" id="accepted-reservations" role="tabpanel" aria-labelledby="accepted-tab">
                    <div class="row px-5">
                        <div class="col-sm-12">
                            <table class="table table-responsive table-light">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Contact No.</th>
                                        <th>Email</th>
                                        <th>Date Ordered</th>
                                        <th>Order Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && !Model.Any())
                                    {
                                        <tr>
                                            <td colspan="7" class="text-center text-secondary">-- No take-out orders available --</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var order in Model.Where(o => o.Order.order_status == "Accepted" || o.Order.order_status == "Preparation"))
                                        {
                                            <tr>
                                                <td>@order.Order.customer_name</td>
                                                <td>@order.Order.contact_number</td>
                                                <td>@order.Order.email</td>
                                                <td>@order.Order.date_ordered.ToString("MMMM d, yyyy - h:mm tt")</td>
                                                @{
                                                    string status = order.Order.order_status;
                                                }
                                                <td><span class="badge rounded-pill @globals.GetTakeOutOrderBadgeClass(status)">@status</span></td>
                                                <td>
                                                    <a href="@Url.Action("ViewTakeOutOrderDetails", "ManagerTakeOutOrders", new { order_id = order.Order.order_id })" class="text-decoration-none text-theme-1">View</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- READY RESERVATIONS TAB -->
                <div class="tab-pane fade" id="ready-reservations" role="tabpanel" aria-labelledby="ready-tab">
                    <div class="row px-5">
                        <div class="col-sm-12">
                            <table class="table table-responsive table-light">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Contact No.</th>
                                        <th>Email</th>
                                        <th>Date Ordered</th>
                                        <th>Order Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && !Model.Any())
                                    {
                                        <tr>
                                            <td colspan="7" class="text-center text-secondary">-- No take-out orders available --</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var order in Model.Where(o => o.Order.order_status == "Ready"))
                                        {
                                            <tr>
                                                <td>@order.Order.customer_name</td>
                                                <td>@order.Order.contact_number</td>
                                                <td>@order.Order.email</td>
                                                <td>@order.Order.date_ordered.ToString("MMMM d, yyyy - h:mm tt")</td>
                                                @{
                                                    string status = order.Order.order_status;
                                                }
                                                <td><span class="badge rounded-pill @globals.GetTakeOutOrderBadgeClass(status)">@status</span></td>
                                                <td>
                                                    <a href="@Url.Action("ViewTakeOutOrderDetails", "ManagerTakeOutOrders", new { order_id = order.Order.order_id })" class="text-decoration-none text-theme-1">View</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- CANCELLED RESERVATIONS TAB -->
                <div class="tab-pane fade" id="cancelled-reservations" role="tabpanel" aria-labelledby="cancelled-tab">
                    <div class="row px-5">
                        <div class="col-sm-12">
                            <table class="table table-responsive table-light">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Contact No.</th>
                                        <th>Email</th>
                                        <th>Date Ordered</th>
                                        <th>Order Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && !Model.Any())
                                    {
                                        <tr>
                                            <td colspan="7" class="text-center text-secondary">-- No take-out orders available --</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var order in Model.Where(o => o.Order.order_status == "Declined"))
                                        {
                                            <tr>
                                                <td>@order.Order.customer_name</td>
                                                <td>@order.Order.contact_number</td>
                                                <td>@order.Order.email</td>
                                                <td>@order.Order.date_ordered.ToString("MMMM d, yyyy - h:mm tt")</td>
                                                @{
                                                    string status = order.Order.order_status;
                                                }
                                                <td><span class="badge rounded-pill @globals.GetTakeOutOrderBadgeClass(status)">@status</span></td>
                                                <td>
                                                    <a href="@Url.Action("ViewTakeOutOrderDetails", "ManagerTakeOutOrders", new { order_id = order.Order.order_id })" class="text-decoration-none text-theme-1">View</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- End of Tab Content -->
        </div>
    </div>
</div>

<!-- Confirm Take-Out Order Cancellation Modal -->
<div class="modal fade" id="confirmCancelOrderModal" tabindex="-1" aria-labelledby="confirmCancelOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="post" id="cancelTakeOutOrderForm">
                <input type="hidden" name="order_id" id="order_id" value="" />
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmCancelOrderModalLabel">Confirm Order Cancellation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to cancel this order?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn-urms btn-theme-1 px-4">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        function confirmTakeOutOrderCancellation(order_id) {
            $('#order_id').val(order_id);
            $('#confirmCancelOrderModal').modal('show');
        }

        $('#cancelTakeOutOrderForm').submit(function (e) {
            e.preventDefault();

            $('#confirmCancelOrderModal').modal('hide');

            if ($("#order_id").val() == "")
            {
                alert("Unable to cancel order");
            }
            else {
                // jQuery object for the form
                var form = $(this);
                // Serialize the form data
                var formData = form.serialize();

                $.ajax({
                    url: '@Url.Action("CancelTakeOutOrder", "ManagerTakeOutOrders")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        const { success, message } = response;

                        if (success) {
                            form.trigger('reset');
                            alert(message);

                            var redirectUrl = '@Url.Action("LoadTakeOutOrders", "ManagerTakeOutOrders")';
                            window.location.href = redirectUrl;
                        } else {
                            throw new Error("Something went wrong!")
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('An error occurred: ' + error);
                    }
                });
            }
        })
    </script>

}