@model Uling_RestaurantManagementSystem.Models.Custom.PlaceOrderModel

@{
    ViewBag.Title = "Menu";
}

@Html.Partial("_Navbar")

<div class="container mt-5 pt-sm-5 mb-5">
    <div class="row mt-5">
        <div class="row mt-3">
            @{ 
                decimal subTotal = 0;
                if (Model != null && Model.OrderItems.Count() > 0)
                {
                    foreach (var item in Model.OrderItems)
                    {
                        subTotal += Convert.ToDecimal(item.line_price);
                    }
                }
            }
            <div class="col-sm-8">
                <div class="bg-light mt-3 py-4 px-4 rounded-corner">
                    <small class="text-secondary">Payment Details</small>
                    <dl class="row mt-2">
                        <dt class="col-sm-3">Payment Method</dt>
                        <dd class="col-sm-9">
                            <label class="form-check-label font-weight-600 text-primary" style="width: 100%">
                                GCash
                            </label>
                        </dd>
                        <dt class="col-sm-3">GCash Account</dt>
                        <dd class="col-sm-9">
                            <span id="accountName">Name: <strong>Uling Restaurant</strong></span> <br />
                            <span id="accountNumber">Number: <strong>09062346873</strong></span>
                        </dd>
                        <dt class="col-sm-3">Upload Payment Slip</dt>
                        <dd class="col-sm-6">
                            <input type="file" class="form-control-file" id="txtimg_src" name="txtimage_srcc">
                            <fieldset class="mt-3 rounded-3 p-2" id="fs_project_img" style="border: 1px solid #e0e0e0">
                                <img class="card-img-top" src="~/Content/assets/img_icon.png" alt="default image" id="image_preview">
                                <input type="hidden" id="txt_base_64" value="">
                            </fieldset>
                        </dd>
                        <dd class="col-sm-3"></dd>
                    </dl>
                    <form action="#" class="mt-3" id="formSubmitPaymentSlip">
                        <input type="hidden" name="order_id" id="order_id" value="@Model.Order.order_id" />
                        <input type="hidden" name="amount" id="amount" value="@subTotal" />
                        <button type="submit" class="btn-urms btn-outline-urms rounded-corner px-4">Submit Slip</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-light mt-3 py-4 ps-4 pe-5 rounded-corner">
                    <small class="text-secondary">Order Details</small>

                    <dl class="row mt-2">
                        <dt class="col-sm-5">menu</dt>
                        <dt class="col-sm-3">qty</dt>
                        <dt class="col-sm-4">total</dt>
                    </dl>
                    <dl class="row" id="orderItemList">
                        @{
                            var countOrderItems = Model.OrderItems.Count();

                            if (Model != null && Model.OrderItems.Count() == 0)
                            {
                                <dd class="col-sm-12 text-secondary text-center">-- no orders --</dd>
                            }
                            else
                            {
                                foreach (var item in Model.OrderItems)
                                {
                                    string itemQuantity = item.quantity + "x";
                                    string linePrice = Convert.ToDecimal(item.line_price).ToString("F2");

                                    <dd class="col-sm-5">@item.tbl_menu_items.name</dd>
                                    <dd class="col-sm-3">@itemQuantity </dd>
                                    <dd class="col-sm-4">₱ @linePrice</dd>
                                }
                            }
                        }
                    </dl>

                    @if (1 > 0)
                    {
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-8 text-end">Subtotal: </dt>
                            <dd class="col-sm-4">
                                ₱ @subTotal.ToString("F2")
                            </dd>
                        </dl>
                    }
                </div>

                @if (Model != null && Model.Reservation != null)
                {
                    <div class="bg-light mt-3 py-4 ps-4 pe-5 rounded-corner">
                        <small class="text-secondary">Reservation Details</small>

                        <dl class="row mt-2">
                            <dt class="col-sm-4">Date</dt>
                            <dd class="col-sm-8">@Model.Reservation.reservation_date</dd>

                            <dt class="col-sm-4">Heads</dt>
                            <dd class="col-sm-8">@Model.Reservation.heads</dd>

                            <dt class="col-sm-4">Note</dt>
                            <dd class="col-sm-8">@Model.Reservation.note</dd>
                        </dl>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Footer")

@section Scripts{
    <script>
        // process in previewing the image (payment slip) ----> start
        var img_src = document.getElementById("txtimg_src");
        var img_display = document.getElementById("image_preview");
        var txt_base_64 = $("#txt_base_64");

        showImage(img_src, img_display);

        function showImage(src, target) {
            var fr = new FileReader();
            // when image is loaded, set the src of the image where you want to display it
            fr.onload = function (e) {
                target.src = this.result;
            };
            src.addEventListener("change", function () {
                // fill fr with image data
                fr.readAsDataURL(src.files[0]);
            });
        }
        // process in previewing the image (payment slip) ----> end

        // base64 coverter algorithm
        function toBase64Image(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onloadend = function () {
                base64 = reader.result;
                txt_base_64.val(base64);
            };

            reader.readAsDataURL(file);
        }

        $("#txtimg_src").change(async function (e) {
            // convert imported image into acceptable base64 format
            await toBase64Image(e);
        });

        const uploadImage = (file) => {
            return new Promise((resolve, reject) => {
                //compile the data params to be uploaded
                let data = new FormData();

                // the [file] variable is the base64 image data
                data.append("file", file);
                data.append("folder", "UlingRMS/payment_slips");
                data.append("upload_preset", vars.CUSTOM_UPLOUD_PRESET);
                data.append("cloud_name", vars.CLOUDINARY_ENV);

                // wait until upload is done
                postFetchUpload(vars.CLOUDINARY_BASE_URL, data)
                    .then((response) => {
                        resolve(response.url);
                    })
                    .catch(() => {
                        reject("Error-001: Something went wrong!");
                    });
            });
        }

        $('#formSubmitPaymentSlip').submit(function (e) {
            e.preventDefault();

            if ($("#txt_base_64").val() == "") {
                alert("Upload a payment slip first.");
            }
            else {
                uploadImage(txt_base_64.val()).then((response) => {
                    let uploadedURL = response;

                    $.ajax({
                        url: '@Url.Action("UploadPayment", "Main")',
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            order_id: $("#order_id").val(),
                            amount: $("#amount").val(),
                            payment_url: uploadedURL
                        }),
                        success: function (response) {
                            const { success, message } = response;

                            console.log(response);

                            if (success && message == "payment_success") {
                                alert("Your order successfully submitted. Will keep in touch with you via phone or email.");

                                var redirectUrl = '@Url.Action("Index", "Main")';
                                window.location.href = redirectUrl;
                            } else {
                                throw new Error("Something went wrong!")
                            }
                        },
                        error: function(xhr, status, error) {
                            alert('An error occurred: ' + error);
                        }
                    });
                }).catch((reason) => {
                    console.log("Reason", reason);
                });
            }
        })
    </script>

}