@model Uling_RestaurantManagementSystem.Models.Custom.CookDashboardDataModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    @Html.Partial("_SideBar")

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        @Html.Partial("_Nav")

        <!-- Page content-->
        <div class="container-fluid">
            <div class="row ps-5 pt-5">
                <div class="col-sm-12">
                    <p class="text-secondary" style="font-size: 1.5rem">Dashboard</p>
                </div>
            </div>

            <div class="row px-5">
                <div class="col-sm-4">
                    <a href="@Url.Action("LoadCookCounterOrders", "CookCounterOrders")" class="text-decoration-none">
                        <div class="bg-white card-shadow px-3 py-2">
                            <div class="card-body">
                                <p class="mb-2 text-theme-1 font-weight-600">Counter Orders</p>
                                <h1 class="text-secondary display-5">@Model.CounterOrders</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="@Url.Action("LoadCookReservationOrders", "CookReservationOrders")" class="text-decoration-none">
                        <div class="bg-white card-shadow px-3 py-2">
                            <div class="card-body">
                                <p class="mb-2 text-theme-1 font-weight-600">Reservation Orders</p>
                                <h1 class="text-secondary display-5">@Model.ReservationOrders</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="@Url.Action("LoadCookTakeOutOrders", "CookTakeOutOrders")" class="text-decoration-none">
                        <div class="bg-white card-shadow px-3 py-2">
                            <div class="card-body">
                                <p class="mb-2 text-theme-1 font-weight-600">Take-Out Orders</p>
                                <h1 class="text-secondary display-5">@Model.TakeOutOrders</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>